<%- include("partials/header"); -%>
<% homePosts.forEach((post)=>{  %>
<div class="post">
    <h1><%= post.title %></h1>
    <p><%= post.body.substring(0,100)+" ... "%>
        <a href="/posts/<%=post.title%>">Read More</a>
    </p>
</div>
<% }) %>

<%- include("partials/footer"); -%>